<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
        | <!--include pug template -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="container">
        
    <h1>Gym membership 20$</h1>
    <!-- <p>
    | #{content} 
    | This is a plain html using pug
    </p> -->
    <form action="/" method="post" id="content">
            <input type="text" name="name" placeholder="Enter your name"><br>
            <input type="text" name="age" placeholder="Enter your age"><br>
            <input type="text" name="gender" placeholder="Enter you gender">
            <button id="btn">Submit</button>
    </form>
    </div>
</body>
</html>